 .border{
    border: 2px solid red;
     margin: 3px;
}
.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.items-center{
    align-items: center;
}
.bg-black{
    background-color: black;
    color: white;

}
.invert{
    filter: invert(1);
}
.bg-grey{
    background-color:#121212 ;
}

.rounded{
    border-radius:10px;
    
}
.m-1{
margin: 5px;
}
.p-1{
    padding:10px;
}

/*Width*/
::-webkit-scrollbar {
  width: 10px;
}

/* Track (background) */
::-webkit-scrollbar-track {
  background: #0f0f0f;
}

/* Thumb (the scroll handle) */
::-webkit-scrollbar-thumb {
  background: #2b2b2b;
  border-radius: 10px;
  border: 2px solid #0f0f0f; /* gives spacing */
}

/* Hover effect */
::-webkit-scrollbar-thumb:hover {
  background: #3a3a3a;
}
